body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.todos {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  background-color: aliceblue;
  padding: 0.5rem;
  gap: 0.5rem;
}

.todo {
  background-color: rgb(247, 220, 187);
  padding: 0.5rem;
}
